.App {
    background-color:#24292F;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 14px;
    padding-top: 90px;
}

.App--loading {
    background-color:#24292F;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    font-size: 32px;
}